Package: dialtime-gate
Version: 0.1.7
Section: misc
Architecture: all
Depends: asterisk (>=11.7), debconf, mysql-server (>=5.5), php-cli (>=5.5.9), php-mysql (>=5.5.9), php-curl(>=5.5.9)
Maintainer: Alexander Mosyagin <fixnim@gmail.com>
Origin: Alexander Mosyagin
Installed-size: XXXXX
Description: Dialtime Gate
 Dialtime Gate for Target-Call
